@charset "UTF-8";

body {
    color: #757575;
    font-family: "Roboto", Tahoma, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.search-form {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

    color: #fff;
    background-image: repeating-linear-gradient(-45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px);
}

.search-form input {
    padding: 9px 10px;

    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    
    background-color: #fff;   
}

.search-form button {  
    margin-left: -30px;
    padding: 5px 8px;
    
    border: none;
    background-color: #c9cbcd;
    border-radius: 0 5px 5px 0;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form button:hover,
.search-form button:focus {
    background-color: #8e54e9;
    fill: #fff;
}

.conteiner {  
    padding-left: 15px;
    padding-right: 15px;
          
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .conteiner {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .conteiner {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .conteiner {
        width: 100vw;
    }
}

.gallery {
    /* display: flex;
    flex-wrap: wrap; */
    margin-bottom: -30px;
    /* margin-left: -30px; */
}

@media screen and (min-width: 768px) {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
}

.gallery__link {
    /* width: calc(25% - 30px); */
    /* margin-left: 30px; */
    margin-bottom: 30px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
    .gallery__link {
        width: calc(50% - 30px);
        margin-left: 30px;
        /* margin-bottom: 30px; */
        /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); */
    }
}

@media screen and (min-width: 1200px) {
    .gallery__link {
        width: calc(25% - 30px);
        margin-left: 30px;
        /* margin-bottom: 30px; */
        /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); */
    }
}

.gallery__img {
    width: 100%;
    height: 40vh;

    object-fit: cover;
}

.gallery__info {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    padding: 15px;
}

.gallery__info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    color: #000;
}

.gallery__info-item:not(:last-child) {
    margin-right: 25px;
}



.label {
    color: #fff;
}

.load-more {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 20px;
    padding: 8px 22px;

    border: none;
    border-radius: 50px;
    background-image: linear-gradient(
        to top,
        #8e54e9,
        #4776E6
    );
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.3);
}

.load-more.is-hidden {
    display: none;
}

